/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEF 0
#define IN  1
#define WIN 2
#define FN  3

/ {
        keymap {
                compatible = "zmk,keymap";
                DEF {
                        bindings = <
   &kp ESC   &kp SQT  &kp COMMA &kp DOT &kp P &kp Y     &kp F &kp G &kp C &kp R &kp L &kp FSLH
   &kp TAB   &kp A    &kp O     &kp E   &kp U &kp I     &kp D &kp H &kp T &kp N &kp S &kp MINUS
   &kp LSHFT &kp SEMI &kp Q     &kp J   &kp K &kp X     &kp B &kp M &kp W &kp V &kp Z &kp RSHFT
   &mo WIN   &mo IN   &kp BSPC                          &kp SPACE   &mo IN      &mo WIN
                        >;
                };
                IN {
                        bindings = <
   &kp GRAVE &kp N1        &kp N2       &kp N3        &kp N4         &kp N5            &kp N6        &kp N7     &kp N8       &kp N9       &kp N0    &kp BSLH
   &trans    &trans        &trans       &trans        &trans         &kp LBKT          &kp RBKT      &kp LEFT   &kp DOWN     &kp UP       &kp RIGHT &kp EQUAL
   &trans    &kp C_AC_UNDO &kp C_AC_CUT &kp C_AC_COPY &kp C_AC_PASTE &kp C_AC_FIND     &kp C_AL_CALC &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &trans    &trans
   &mo FN    &trans       &kp LC(BSPC)                                                 &kp RET    &trans       &mo FN
                        >;
                };
                WIN {
                        bindings = <
   &kp CAPS &trans    &trans &trans &trans &trans     &trans &trans &trans &trans &trans &kp DEL 
   &trans   &trans    &trans &trans &trans &trans     &trans &trans &trans &trans &trans &kp RCTRL
   &trans   &kp LCTRL &trans &trans &trans &trans     &trans &trans &trans &trans &trans &trans
   &trans   &kp LWIN  &kp LALT                        &kp RALT      &kp RWIN      &trans
                        >;
                };
                FN {
                        bindings = <
   &kp F1 &kp F2 &kp F3    &kp F4   &kp F5   &kp F6      &trans &kp INS  &kp HOME &kp PG_UP &trans &trans
   &kp F7 &kp F8 &kp F9    &kp F10  &kp F11  &kp F12     &trans &kp DEL  &kp END  &kp PG_DN &trans &trans
   &trans &trans &kp LCTRL &kp LWIN &kp LALT &trans      &trans &kp RALT &kp RWIN &kp RCTRL &trans &trans
   &trans &trans &trans                                  &trans &trans   &trans
                        >;
                };
        };
};
